NEXT_PUBLIC_APP_URL=https://veridis.fr
NEXT_PUBLIC_API_URL=https://api.veridis.fr
NEXT_PUBLIC_APP_VERSION=0.1.0

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

STRIPE_SECRET_KEY=
NEXT_PUBLIC_STRIPE_PRICE_ESSENTIAL_YEAR=
NEXT_PUBLIC_STRIPE_PRICE_ESSENTIAL_MONTH=
NEXT_PUBLIC_STRIPE_PRICE_PROFESSIONAL_YEAR=
NEXT_PUBLIC_STRIPE_PRICE_PROFESSIONAL_MONTH=
NEXT_PUBLIC_STRIPE_PRICE_ENTERPRISE_YEAR=
NEXT_PUBLIC_STRIPE_PRICE_ENTERPRISE_MONTH=
